.sign {
    background-image: url('bookshelf-background.jpg');
    /* Change to your bookshelf image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Signup Page Styles */
.signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    /* Add a semi-transparent background */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    /* Limit the width for better readability */
}

.signup-heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.signup-form {
    text-align: center;
}

.signup_form input[type="text"],
.signup_form input[type="password"],
.signup_form input[type="email"],
.signup_form input[type="file"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-form .signup-button {
    background-color: #e67e22;

    color: #333;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.signup-form .signup-button:hover {
    background-color: #ffdb4d;
}

/* Book-related styles */
.book-icon {
    font-size: 40px;
    color: #333;
}

/* Additional Details */
.signup-details {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.signup-details p {
    margin-bottom: 10px;
}